torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
opencv-python==4.9.0.80
diffusers==0.30.2
transformers==4.48.0
peft==0.14.0
tokenizers==0.21.0
accelerate==1.1.1
pandas==2.0.3
numpy==1.24.4
einops==0.7.0
tqdm==4.66.2
loguru==0.7.2
imageio==2.34.0
imageio-ffmpeg==0.5.1
safetensors==0.4.3
mmgp==3.1.4.post1592653
gradio==5.8.0
moviepy==1.0.3
#flash-attn==2.7.2.post1
#sageattention==1.0.6 
